<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Atividade JSF</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <f:view locale="#{localeManager.locale}"></f:view>
        <h:form>
            <f:view locale="#{localeManager.locale}"></f:view>
            <label><h:outputText value="#{msgs.nome }"></h:outputText></label>
            <h:inputText value="#{Pessoa.nome}"></h:inputText><hr/>
            <label><h:outputText value="#{msgs.senha}"></h:outputText></label>
            <h:inputSecret value="#{Pessoa.senha}"><f:validator validatorId="ValidarSenha"/></h:inputSecret>
            <h:commandButton value="Login" action="logado"></h:commandButton>
        </h:form>
    </h:body>
</html>
